.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.container p {
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-bottom: 8px;
  margin-top: 64px;
}

.buttons {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  background-color: #fff;
  border: 1px solid #bababa;
  border-radius: 12px;
  cursor: pointer;
  transition: border 0.2s ease, color 0.2s ease;
}

.button:hover {
  border-color: #6a0bff;
}

.active {
  border: 2px solid #6a0bff;
}
